project:
  type: website
  output-dir: docs

website:
  title: "yiwei gu web"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
    right:
      - href: https://github.com/Ywguyiwei
        icon: github

      
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual



